<div class="container">
  <div class="row">
      <div class="col-md-8">
        <!-- <img src="../../assets/grafico.PNG" alt="Gráfico"> -->
        <!-- <h2 *ngFor="let ativo of ativos">{{ ativo.simbolo + ": " + ativo.variacao }}</h2> -->
        <span *ngFor="let ativo of ativosRendimento"> 
          <app-ativos [ativo] = "ativo"></app-ativos>
        </span>
      </div>
  <!-- </div>
  <div class="row"> -->
      <div class="col-md-4">
          <form [formGroup]="novoAtivoForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="simboloNovoAtivo">Símbolo</label>
              <input 
              type="text"
              id="simboloNovoAtivo"
              formControlName="simboloNovoAtivo"
              class="form-control">
            </div>
            <div class="form-group">
              <label for="cotasNovoAtivo">Cotas</label>
              <input 
              type="number"
              id="cotasNovoAtivo"
              formControlName="cotasNovoAtivo"
              class="form-control">
            </div>
            <div class="form-group">
              <label for="valorDeCompraNovoAtivo">Valor de Compra</label>
              <input 
              type="number"
              step="0.01"
              id="valorDeCompraNovoAtivo"
              formControlName="valorDeCompraNovoAtivo"
              class="form-control">
            </div>  
            <button type="submit" class="btn btn-primary">+</button>
          </form>
 
        <div class="list-group">
            <!-- <button type="button" *ngFor="let x of abc" (click)="onGetAtivo(x.simbolo)" class="list-group-item list-group-item-action">
                {{ x.simbolo }}
            </button> -->
            <button type="button" *ngFor="let x of abc" (click)="onGetAtivoServer(x.simbolo)" class="list-group-item list-group-item-action">
              {{ x.simbolo }}
            </button>
          <!-- <span *ngFor="let x of listaAtivos">
              <button type="button" (click)="onGetAtivo(x)" class="list-group-item list-group-item-action">
                  {{ x.simbolo }}
                </button>
          </span> -->
          <!-- <button type="button" (click)="onGetAtivo('ITSA4')" class="list-group-item list-group-item-action">
            ITSA4
          </button>
          <button type="button" (click)="onGetAtivo('PETR4')" class="list-group-item list-group-item-action">
            PETR4
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            CMIG4
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            BBDC4
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            USIM5
          </button> -->
        </div>
      </div>
  </div>
</div>


