<!-- <div class="row">
  <h1 class="text-center">ControlAções</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <button type="button" class="btn btn-info btn-lg" routerLink="minhaCarteira">Minha Carteira</button>
  </div>
  <div class="col-md-7">
    <app-grafico-capital></app-grafico-capital>
  </div>
</div> -->

<div class="jumbotron">
  <h1 class="display-4">ControlAções</h1>
  <p class="lead">Acompanhe seus investimentos!</p>
  <hr class="my-4">
  <div class="row">
    <app-grafico-capital></app-grafico-capital>
    <button type="button" class="btn btn-info btn-lg" routerLink="minhaCarteira">Minha Carteira</button>
  </div>
</div> 